$themeColor: rgb(231, 243, 243);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.top {
  background-color: $themeColor;
  text-align: center;
  color: rgb(96, 96, 96);
  padding: 5px;
}

.footer {
  background-color: $themeColor;
  text-align: center;
  color: black;
  padding: 50px;
}

.banner {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  box-shadow: 0 10px 6px -6px #d7d7d7;
  position: sticky;
  top: 0;
  z-index: 10;

  .logo img {
    aspect-ratio: 1 / 1;
    width: 130px; /* 也可以換成任何你想要的寬度 */
    object-fit: cover;
    object-position: center;
    margin-left: 50px;
  }
  ul {
    display: flex;
    padding: 0px;
    li {
      padding: 5px;
    }
  }
  .icons {
    display: flex;
    padding: 20px;
  }

  .icon {
    padding: 0px 15px;
    img {
      aspect-ratio: 1 / 1;
      width: 35px; /* 也可以換成任何你想要的寬度 */
      object-fit: cover;
      object-position: center;
    }
  }
}

nav {
  background-color: #ffffff;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0px;

      &:not(:last-child)::after {
        content: "|";
        position: absolute;
        right: -10px;
        color: gray;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      a {
        color: gray;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        transition: 0.3s;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 1.2em;

        &:hover {
          background-color: $themeColor;
          color: #ffffff;
          border-radius: 20px; // 圓弧邊效果
        }
      }
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  padding: 20px;

  img {
    aspect-ratio: 2/ 1;
    width: 700px; /* 也可以換成任何你想要的寬度 */
    object-fit: cover;
    object-position: center;
    margin-left: 50px;
  }
}

//產品
$product-card-bg: #fff;
$product-card-border: #ddd;
$product-card-hover-bg: #f4f4f4;
$product-card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 20px auto; /* 將左右 margin 設置為 auto */
  max-width: 1000px; /* 可以調整最大寬度 */
}

.product-card {
  background-color: $product-card-bg;
  //   border: 1px solid $product-card-border;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: $product-card-hover-bg;
    box-shadow: $product-card-shadow;
    cursor: pointer;
  }
  .productImg {
    img {
      aspect-ratio: 1 / 1;
      width: 250px; /* 也可以換成任何你想要的寬度 */
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }
  }

  .product-name {
    font-size: 1.2em;
    color: gray;
    margin: 10px 0;
  }

  .product-price {
    font-size: 1.2em;
    color: gray;
  }
}

//商品內頁
.product-detail {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  p {
    margin: 10px 0;
  }

  .product-colors {
    margin: 20px 0;

    h3 {
      margin-bottom: 10px;
    }

    .color-button {
      width: 50px;
      height: 30px;
      margin: 0 10px;
      cursor: pointer;
      border: solid rgb(227, 227, 227) 2px;
      background-color: #ffffff;

      &.selected {
        // background-color: rgb(222, 222, 222);
        border: solid #5f5f5f 2px;
      }
    }
  }

  .quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    span {
      padding: 0px 50px;
      border: solid #f4f3f3;
      height: 30px;
    }

    button {
      width: 30px;
      height: 30px;
      font-size: 1.2em;
      border: none;
      background-color: #ddd;
      cursor: pointer;
      transition: background-color 0.5s;

      &:hover {
        background-color: #ccc;
      }
    }

    span {
      width: 50px;
      text-align: center;
      font-size: 1.2em;
    }
  }

  .add-to-cart,
  .buy-now {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &.add-to-cart {
      background-color: #f0c14b;
      color: #111;

      &:hover {
        background-color: #e2b33b;
      }
    }

    &.buy-now {
      background-color: #ff9900;
      color: #fff;

      &:hover {
        background-color: #e68a00;
      }
    }
  }
}

//登入頁面
.login-container {
  max-width: 400px;
  height: 50vh;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(122, 190, 190);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgb(89, 173, 173);
    }
  }
}
//購物車
.cart-container {
  padding: 30px;

  h2 {
    text-align: center;
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    thead {
      border-top: 1px solid #ddd;
      padding: 20px;
    }
    tbody {
      border-bottom: 1px solid #ddd;

      td {
        padding: 20px;
        border-top: 1px solid #ddd;
        text-align: center;

        &:nth-child(1) {
          width: 40%;
          text-align: left;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          width: 15%;
        }
      }

      .item-details {
        display: flex;
        align-items: center;

        .item-image {
          margin-right: 10px;

          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }

        .item-name {
          p {
            margin: 0;
          }
        }
      }
    }
  }
  .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background-color: #60a6a0;
      color: rgb(255, 255, 255);
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 16px;
      margin: 0 5px;

      &:hover {
        background-color: #7aaca8;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    span {
      font-size: 16px;

      margin: 0 5px;
    }
  }

  .total {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    button {
      background-color: #60a6a0;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 18px;
      margin: 0 5px;
      margin-top: 30px;
      &:hover {
        background-color: #7aaca8;
      }
    }
  }
}

.checkout-container {
  padding: 30px;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      margin-top: 20px;
    }
    form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      // width: 400px;

      section {
        margin-bottom: 20px;

        h3 {
          margin-bottom: 10px;
        }

        label {
          display: flex;
          // flex-direction: column;
          margin-bottom: 10px;

          input[type="text"],
          input[type="email"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 10px;
          }

          input[type="radio"] {
            margin-right: 20px;
          }
        }
      }

      button {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(117, 167, 167);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 10px;

        &:hover {
          background-color: #41a4a1;
        }
      }
    }
  }
}

.checkout-steps {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;

  .step {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 0 5px;
    font-weight: bold;
    color: #555;

    &.active {
      background-color: rgb(89, 131, 131);
      color: white;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

//
.orderSummaryContainer {
  padding: 30px;
  .order {
    max-width: 600px;
    margin: 0 auto;
    border-color: #111;

    h2 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 24px;
      color: #333;
    }

    section {
      margin-bottom: 30px;

      h3 {
        margin-bottom: 15px;
        font-size: 20px;
        color: #666;
      }

      p {
        margin: 5px 0;
        font-size: 16px;
        color: #333;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;

      thead {
        tr {
          background-color: #f5f5f5;
          border-bottom: 2px solid #ddd;

          th {
            padding: 10px;
            font-size: 16px;
            color: #666;
            text-align: left;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #eee;

        &:last-child {
          border-bottom: none;
        }

        td {
          padding: 10px;
          font-size: 16px;
          color: #333;

          .item-details {
            display: flex;
            align-items: center;

            .item-name {
              margin-left: 10px;
              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  h4 {
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  button {
    padding: 10px 20px;
    background-color: rgb(117, 167, 167);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 30px auto;

    &:hover {
      background-color: #41a4a1;
    }
  }
}
